# dependencias
/node_modules

# next.js
/.next/
/out/

# producción
/build
/.vercel
/.turbo/

# logs y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache

# variables de entorno
.env
.env.local
.env.development
.env.production
.env.*.local

# configuración local de IDE
.vscode/
.idea/

# informes de cobertura
coverage/

# archivos de compilación de TypeScript
*.tsbuildinfo
next-env.d.ts
